@using QuanLyNhaHang.Models
@model MonAn
@{
    ViewBag.Title = "Chi Tiết Món Ăn";
    Layout = "~/Areas/NhanVien/Views/Shared/_LayoutNhanVien.cshtml";
}
@{
    IEnumerable<MonAn> lstMonAnLienQuan = ViewBag.MonAnCungLoai as IEnumerable<MonAn>;
}

<div class="container">
    <div class="page-title-container">
        <div class="row">
            <div class="col-auto mb-3 mb-md-0 me-auto">
                <div class="w-auto sw-md-30">
                    <h1 class="mb-0 pb-0 display-4" id="title">CHI TIẾT MÓN ĂN</h1>
                </div>
            </div>
            @*<div class="col-12 col-md-5 d-flex align-items-end justify-content-end">
                <button type="button" class="btn btn-outline-primary btn-icon btn-icon-start w-100 w-md-auto">
                    <i data-cs-icon="edit-square"></i>
                    <span>Edit</span>
                </button>
                <div class="ms-1">
                    <button type="button" class="btn btn-outline-primary btn-icon btn-icon-only" data-bs-offset="0,3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-cs-icon="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <button class="dropdown-item" type="button">Move</button>
                        <button class="dropdown-item" type="button">Unpublish</button>
                        <button class="dropdown-item" type="button">Delete</button>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-xl-7">
                            <div class="glide glide-gallery" id="glideStorefrontDetail">
                                <div class="glide glide-large">
                                    <div class="glide__track" data-glide-el="track">
                                        <ul class="glide__slides gallery-glide-custom">
                                            <li class="glide__slide p-0">
                                                <a href="#">
                                                    <img alt="detail" src="~/Assets/img/AnhMonAn/@Model.HinhAnh"
                                                         class="responsive border-0 rounded-md img-fluid mb-3 w-100"
                                                         style="object-fit: cover; width: 100%; height: auto; max-height: 60vh; border-radius: 8px;">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-xl-5 sh-xl-60 d-flex flex-column justify-content-between">
                            <div>
                                <a class="mb-1 d-inline-block text-small" href="#">Loại món ăn: @Model.LoaiMonAn.TenLMA</a>
                                <h3 class="mb-4">@Model.TenMonAn</h3>
                                <div class="h4">@string.Format("{0:0,0}", Model.DonGia) vnđ</div>
                                <p>SL đã bán: @Model.SoLuongDaBan</p>
                                <p>Ngày Cập nhật: @Model.NgayCapNhat</p>
                                <p>Mô tả <br /> @Model.ThongTin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
