@using QuanLyNhaHang.Models
@using QuanLyNhaHang.Common.Const

@{
    IEnumerable<DanhMuc> listDanhMuc = ViewBag.DanhMuc as IEnumerable<DanhMuc>;
    IEnumerable<PhanQuyen> listPhanQuyen = ViewBag.PhanQuyen as IEnumerable<PhanQuyen>;
    IEnumerable<Tang> listTang = ViewBag.listTang as IEnumerable<Tang>;
    int MaQuyen = Const.Employee;
    if (ViewBag.MaQuyen != null && int.TryParse(ViewBag.MaQuyen.ToString(), out MaQuyen))
    {
    }
}

@if (listDanhMuc?.Any() == true)
{
    // Nhóm Bàn Hóa Đơn
    <li>
        <a href="#BanHoaDon" data-href="#">
            <i data-cs-icon="screen" class="icon" data-cs-size="18"></i>
            <span class="label">Bàn Hóa Đơn</span>
        </a>
        @if (listTang.Any())
        {
            <ul id="BanHoaDon">
                @foreach (var tang in listTang)
                {
                    <li>
                        <a href="/NhanVien/Home/Ban?iMaTang=@tang.MaTang">
                            <span class="label">@tang.TenTang</span>
                        </a>
                    </li>
                }
            </ul>
        }
    </li>

    // Nhóm Quản Lý
    <li>
        <a href="#QLMonAn" data-href="#" data-bs-toggle="collapse" data-role="button" aria-expanded="false">
            <i data-cs-icon="cupcake" class="icon" data-cs-size="18"></i>
            <span class="label">QL Món Ăn</span>
        </a>
        <ul id="QLMonAn" class="collapse">
            @foreach (var item in listDanhMuc)
            {
                if (item.MaDanhMuc >= Const.LoaiMonAn && item.MaDanhMuc <= Const.NguyenLieu)
                {
                    <li>
                        <a href="@item.Url">
                            <span class="label">@item.TenChucNang</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </li>

    // Nhóm Khu Vực
    <li>
        <a href="#KhuVuc" data-href="Products.html" data-bs-toggle="collapse" data-role="button" aria-expanded="false">
            <i data-cs-icon="help" class="icon" data-cs-size="18"></i>
            <span class="label">Khu Vực</span>
        </a>
        <ul id="KhuVuc" class="collapse">
            @foreach (var item in listDanhMuc)
            {
                if (item.MaDanhMuc == Const.Tang || item.MaDanhMuc == Const.Ban)
                {
                    <li>
                        <a href="@item.Url">
                            <span class="label">@item.TenChucNang</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </li>

    // Nhóm Báo Cáo
    <li>
        <a href="#BaoCao" data-href="Products.html" data-bs-toggle="collapse" data-role="button" aria-expanded="false">
            <i data-cs-icon="invoice" class="icon" data-cs-size="18"></i>
            <span class="label">Báo Cáo</span>
        </a>
        <ul id="BaoCao" class="collapse">
            @foreach (var item in listDanhMuc)
            {
                if (item.MaDanhMuc == Const.HoaDon || item.MaDanhMuc == Const.ThongKe)
                {
                    <li>
                        <a href="@item.Url">
                            <span class="label">@item.TenChucNang</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </li>

    // Nhóm Cài Đặt
    <li>
        <a href="#CaiDat" data-href="Products.html" data-bs-toggle="collapse" data-role="button" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-gear icon"><path d="M8.32233 3.75427C8.52487 1.45662 11.776 1.3967 11.898 3.68836C11.9675 4.99415 13.2898 5.76859 14.4394 5.17678C16.4568 4.13815 18.0312 7.02423 16.1709 8.35098C15.111 9.10697 15.0829 10.7051 16.1171 11.4225C17.932 12.6815 16.2552 15.6275 14.273 14.6626C13.1434 14.1128 11.7931 14.9365 11.6777 16.2457C11.4751 18.5434 8.22404 18.6033 8.10202 16.3116C8.03249 15.0059 6.71017 14.2314 5.56062 14.8232C3.54318 15.8619 1.96879 12.9758 3.82906 11.649C4.88905 10.893 4.91709 9.29487 3.88295 8.57749C2.06805 7.31848 3.74476 4.37247 5.72705 5.33737C6.85656 5.88718 8.20692 5.06347 8.32233 3.75427Z"></path><path d="M10 8C11.1046 8 12 8.89543 12 10V10C12 11.1046 11.1046 12 10 12V12C8.89543 12 8 11.1046 8 10V10C8 8.89543 8.89543 8 10 8V8Z"></path></svg>
            <span class="label">Cài Đặt</span>
        </a>
        <ul id="CaiDat" class="collapse">
            @foreach (var item in listDanhMuc)
            {
                if (MaQuyen == Const.SupperAdmin & item.MaDanhMuc == Const.NhaHang)
                {
                    <li>
                        <a href="@item.Url">
                            <span class="label">@item.TenChucNang</span>
                        </a>
                    </li>
                }
                else if (item.MaDanhMuc == Const.NhanVien)
                {
                    <li>
                        <a href="@item.Url">
                            <span class="label">@item.TenChucNang</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </li>
}

else
{
    if (listPhanQuyen?.Any() == true)
    {
        // Nhóm Bàn Hóa Đơn
        <li>
            <a href="#BanHoaDon" data-href="#">
                <i data-cs-icon="screen" class="icon" data-cs-size="18"></i>
                <span class="label">Bàn Hóa Đơn</span>
            </a>
            @if (listTang.Any())
            {
                <ul id="BanHoaDon">
                    @foreach (var tang in listTang)
                    {
                        <li>
                            <a href="/NhanVien/Home/Ban?iMaTang=@tang.MaTang">
                                <span class="label">@tang.TenTang</span>
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>

        // Nhóm Quản Lý
        <li>
            <a href="#QLMonAn" data-href="#" data-bs-toggle="collapse" data-role="button" aria-expanded="false">
                <i data-cs-icon="cupcake" class="icon" data-cs-size="18"></i>
                <span class="label">QL Món Ăn</span>
            </a>
            <ul id="QLMonAn" class="collapse">
                @foreach (var item in listPhanQuyen)
                {
                    if (item.MaDanhMuc_id >= Const.LoaiMonAn & item.MaDanhMuc_id <= Const.NguyenLieu)
                    {
                        <li>
                            <a href="@item.DanhMuc.Url">
                                <span class="label">@item.DanhMuc.TenChucNang</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>

        // Nhóm Khu Vực
        <li>
            <a href="#KhuVuc" data-href="Products.html" data-bs-toggle="collapse" data-role="button" aria-expanded="false">
                <i data-cs-icon="help" class="icon" data-cs-size="18"></i>
                <span class="label">Khu Vực</span>
            </a>
            <ul id="KhuVuc" class="collapse">
                @foreach (var item in listPhanQuyen)
                {
                    if (item.MaDanhMuc_id == Const.Tang || item.MaDanhMuc_id == Const.Ban)
                    {
                        <li>
                            <a href="@item.DanhMuc.Url">
                                <span class="label">@item.DanhMuc.TenChucNang</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>

        // Nhóm Báo Cáo
        <li>
            <a href="#BaoCao" data-href="Products.html" data-bs-toggle="collapse" data-role="button" aria-expanded="false">
                <i data-cs-icon="invoice" class="icon" data-cs-size="18"></i>
                <span class="label">Báo Cáo</span>
            </a>
            <ul id="BaoCao" class="collapse">
                @foreach (var item in listPhanQuyen)
                {
                    if (item.MaDanhMuc_id == Const.HoaDon || item.MaDanhMuc_id == Const.ThongKe)
                    {
                        <li>
                            <a href="@item.DanhMuc.Url">
                                <span class="label">@item.DanhMuc.TenChucNang</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>

        // Nhóm Cài Đặt
        <li>
            <a href="#CaiDat" data-href="Products.html" data-bs-toggle="collapse" data-role="button" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-gear icon"><path d="M8.32233 3.75427C8.52487 1.45662 11.776 1.3967 11.898 3.68836C11.9675 4.99415 13.2898 5.76859 14.4394 5.17678C16.4568 4.13815 18.0312 7.02423 16.1709 8.35098C15.111 9.10697 15.0829 10.7051 16.1171 11.4225C17.932 12.6815 16.2552 15.6275 14.273 14.6626C13.1434 14.1128 11.7931 14.9365 11.6777 16.2457C11.4751 18.5434 8.22404 18.6033 8.10202 16.3116C8.03249 15.0059 6.71017 14.2314 5.56062 14.8232C3.54318 15.8619 1.96879 12.9758 3.82906 11.649C4.88905 10.893 4.91709 9.29487 3.88295 8.57749C2.06805 7.31848 3.74476 4.37247 5.72705 5.33737C6.85656 5.88718 8.20692 5.06347 8.32233 3.75427Z"></path><path d="M10 8C11.1046 8 12 8.89543 12 10V10C12 11.1046 11.1046 12 10 12V12C8.89543 12 8 11.1046 8 10V10C8 8.89543 8.89543 8 10 8V8Z"></path></svg>
                <span class="label">Cài Đặt</span>
            </a>
            <ul id="CaiDat" class="collapse">
                @foreach (var item in listPhanQuyen)
                {
                    if (MaQuyen == Const.SupperAdmin & item.DanhMuc.MaDanhMuc == Const.NhaHang)
                    {
                        <li>
                            <a href="@item.DanhMuc.Url">
                                <span class="label">@item.DanhMuc.TenChucNang</span>
                            </a>
                        </li>
                    }
                    else if (item.DanhMuc.MaDanhMuc == Const.NhanVien)
                    {
                        <li>
                            <a href="@item.DanhMuc.Url">
                                <span class="label">@item.DanhMuc.TenChucNang</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
    }
}

